@tailwind base;
@tailwind components;
@tailwind utilities;


.editor--main {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-align: center;
  -webkit-box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
}
