@tailwind base;
@tailwind components;
@tailwind utilities;

@import "component/input-range";


.text-sm-small {
  font-size: .812rem;
}
.text-sm-mid {
  font-size: .937rem;
}

.button {
  &--success {
    background: #104992;
  }
}

progress {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  height: 0.5rem;
  border-radius: 5px;
  opacity: 0.8;

}

progress[value]::-webkit-progress-value {
  background: #606060;
  border-radius: 2px;
}

.editor--main {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-align: center;
  -webkit-box-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
}

.toolbar {
  &__item {
    & > :first-child {
      height: 40px;
      min-height: 40px;
      margin-bottom: 5px;
    }
    svg {
      width: 18px;
      height: 18px;
      margin: 0 auto;
      fill: #e6e6e6;
    }
  }
}

.toolbox {
  &__item {
    padding: 15px 0;
    svg {
      width: 20px;
      height: 20px;
      margin: 0 auto;
      fill: #e6e6e6;
    }
  }
}
